body {
    text-align: center;
    background-color: rgb(206, 195, 174);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    flex-direction: column;
    position: fixed;
    width: 100%;
}